[Unit]
Description=DEPRECATED duplicate CoC Report Static Site Deploy Timer
Documentation=file:/opt/clashcommand/app/systemd/README.md

[Timer]
OnBootSec=5min
OnUnitActiveSec=30min
Unit=coc-report-deploy.service

[Install]
WantedBy=timers.target
